@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

body{
    color: #fff;
    font-family: "Roboto Mono", monospace;
    
}

.navbar{
    background-color: #000;
}


.navbar-nav li a {
    color: #fff;
} 
.hero{
    background-color: #000;
    align-content: center;
}
.btn1{
    background-color:#2F373C;
    border: none;
    border-radius: 8px;
    color: #fff;
    width: 150px;
}

.head-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    }
    
.ht1{
    font-weight: 500;

}
.programs-btn{
    display: flex;
    justify-content: space-around; 
    
}
.program-btn{
    
    border: 1px solid #FFCA8E;
    background-color: #2F373C;
    color: #fff;
    border-radius: 10px;
    height: 50px;
    width: 250px;

}
.mid-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1E1E1F;
    
}
.sec-box{
    display: flex;
    justify-content: space-around;
}
.sec{
    height: 150px;
    width: 200px;
    background-color: #fff;
    border-radius: 20px;
    color: #000;
    padding: 20px;
}
.txt{
    font-size: 13px;
}
.text{
    font-weight: 800;
}

.htp{
    padding-top: 100px;
    padding-bottom: 20px;
    color: #000;
}

.prog-texts{
    /* height: 250px; */
    /* width: 400px; */
    background-color: #FF9540;
    /* border-radius: 20px; */
    color: #000;
    /* padding: 20px; */
    border: 1px solid #2F373C;
}
.lorem-txt{
    background-color: aquamarine;
    
}

.prog-testi{
    border-radius: 20px;
    border: 1px solid #2F373C;
    
}
.heading-testi{
    color: #000;
    border-radius: 20px 20px 0 0;
    background-color: #FFCA8E;
    
}
.prog-ptxt{
    color: #092B3E;

}
.body-testi{
    color: #000;

}
.reviewer{
    display: flex;
    
}
.review-text{
    margin-top: 10px;
    margin-left: 20px;
}

@media (min-width:768px) and (max-width:1024px){
    .programs-btn{
        gap: 10px;
    }

    .sec-box{
        gap: 10px;}



}

@media only screen and (max-width: 600px) {
.programs-btn{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    gap:20px;
    align-items: center;
}

.sec-box{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    gap:20px;
    align-items: center;

}
}


