@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

body{
    color: #fff;
    font-family: kanit;
    
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
  }

.navbar{
    background-color: #000;
}


.navbar-nav li a {
    color: #fff;
} 
.hero{
    background-color: #000;
    align-content: center;
}
.btn1{
    background-color:#2F373C;
    border: none;
    border-radius: 8px;
    color: #fff;
    width: 150px;
}

.head-text{
    margin: auto;
    width: 74%;
    text-align: center;
    }
    
.ht1{
    font-weight: 500;

}
.programs-btn{
    display: flex;
    justify-content: space-around; 
    
}
.program-btn{
    
    border: 1px solid #FFCA8E;
    background-color: #2F373C;
    color: #fff;
    border-radius: 10px;
    height: 50px;
    width: 250px;

}
.mid-text{
    text-align: center;
    background-color: #1E1E1F;
    
}
.sec-box{
    display: flex;
    justify-content: space-around;
}
.sec{
    height: 150px;
    width: 200px;
    background-color: #fff;
    border-radius: 20px;
    color: #000;
    padding: 20px;
}
.txt{
    font-size: 13px;
}
.text{
    font-weight: 800;
}

.htp{
    padding-left: 20px;
    padding-top: 100px;
    padding-bottom: 20px;
    color: #000;
}

.prog-texts{
    /* height: 250px; */
    /* width: 400px; */
    background-color: #FF9540;
    /* border-radius: 20px; */
    color: #000;
    /* padding: 20px; */
    border: 1px solid #2F373C;
}
.lorem-txt{
    background-color: aquamarine;
    
}

.prog-testi{
    border-radius: 20px;
    border: 1px solid #2F373C;
    
}
.heading-testi{
    color: #000;
    border-radius: 20px 20px 0 0;
    background-color: #FFCA8E;
    padding: 20px;
    
}
.prog-ptxt{
    color: #092B3E;

}
.body-testi{
    color: #000;
    padding: 20px;

}
.reviewer{
    display: flex;
    
}
.review-text{
    margin-top: 10px;
    margin-left: 20px;
}
.better-text{
    position: absolute;
    top: 50px ;
    left: 140px;
    
    color: #000;
}
.img1{
    width: 100%;
}

.bet-texts{
    position: absolute;
    top: 220px;
    left: 150px;
       
}
.card-title{
    font-size:30px;
    padding-bottom: 15px;
    
}
.img-96{
    position: absolute;
    top: 425px;
    left: 550px;
}
.img-97{
    position: absolute;
    right: 166px;
}

.card-title{
    color:#fff;
}
.card-text{
    color: #fff;
    width: 20%;
}


.text-img{
    display: flex;
    justify-content: space-around;
    
    
}
.upper-cont{
    padding-top: 50px;
}
.ptext{
    
    width: 30%;
    padding-bottom: 50px;
}
.thri-sec{
    height: 150px;
    
    background-color: #fff;
    border-radius: 15px;
    color: #000;
    padding: 20px;
}
.lower-cont{
    display: flex;
    justify-content: space-around;

}
.rate-h{
    color: #000;
    padding-top: 50px;
    text-align: center;
}
.rate-p{
    color: #000;
    text-transform: lowercase;
    text-align: center;
}
.rating{
    border: 1px solid #000;
    border-radius: 20px;
    padding: 20px;
}
.rate-hh{
    color: #000;
}
.rate-pp{
    color: #000;
    padding-top: 20px;
}
.rate-hhhh{
    color: #000;
}
.text-img-rate{
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
}
.conf{
    background-color: #0A246F;
    border-radius: 100px;
    padding-left: 150px;
    padding-top:30px;
    padding-bottom: 30px;
}
.boost-h{
    color: #000;
    text-align: center;
}
.boost-button{
    text-align: center;
    padding-top: 60px;
    
}
.boost-btn{
    background: #000;
    color: #fff;
    border-radius: 20px;
    height: 50px;
    width: 15%;  
}

.footer{
    background-color: #000;
    padding: 50px;
}
.foot-logo{
    padding-top: 40px;
    padding-bottom: 30px;
}
.foot-p{
    padding-bottom: 30px;
}
.foot-form{
    padding-top: 40px;

}
.form-control{
    width: 70%;
}
.foot-head{
    color: #31acf4;
    padding-top: 40px;
    padding-bottom: 20px;
}


@media (min-width: 1200px) and (max-width:1440px) {
    
    .img-97 {
        position: absolute;
        right: 136px;
    }
    .img-96 {
        position: absolute;
        top: 340px;
        left: 550px;
    }
 }


 @media (min-width: 992px) and (max-width:1024px)  {

    
    .bet-texts {
        position: absolute;
        top: 140px;
        left: 150px;
    }

    .img-96 {
        display: none;
    }
    .img-97{
    position: absolute;
    right: 70px;
    }
    .card-text{
        width: 50%;
    }

 }


@media (min-width:768px) and (max-width:990px){
    .programs-btn{
        gap: 10px;
    }

    .sec-box{
        gap: 10px;}

        .bet-texts {
            position: absolute;
            top: 100px;
            left: 50px;
        }
        .card-title {
            font-size: 20px;
            padding-bottom: 15px;
        }
        .card-text {
            width: 80%;
        }
        .img-96{
            display: none;
        }

        .img-97{
    position: absolute;
    right: 55px;
    width: 15%
        }
        .bet-h{
            font-size: 25px;
        }
        .img-grp{
            width: 50%;
        }
        .ptext {
            width: 50%;
        }
        .better-text{
            top: 30px;
        }
        .boost-btn{
            width: 25%;  
        }
    }





@media only screen and (max-width: 600px) {
.programs-btn{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    gap:20px;
    align-items: center;
}

.sec-box{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    gap:20px;
    align-items: center;
}

.img-97 {
    position: absolute;
    right: 35px;
    width: 15%;
}
.img-96{
    display: none;
}

.img-grp{
    display: none;
}
.bet-texts{
    position: relative;
    top: auto;
    left: auto;
    margin-left: 20px;
    

}
.card-title{
    font-size: 14px;
 margin-top: 30px;
 padding-bottom: 0;
}
.card-text{
    font-size: 11px;
    width: auto;
    
}
.ptext {
    width: 100%;
}
.conf{
    padding-left: 80px;
}
.boost-btn{
    width: 50%;  
}
.better-text{
    top: 12px;
    left: 36px;
    font-size: 17px;
}
}


